<!DOCTYPE html>
<html>
<head>
  <link rel="icon" type="image/png" href="/images/favicon.png">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Popstand</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>

  <meta name="google-site-verification" content="926WUcHCw3Kau5W0ki_YRbz0KrbBnwFNTV7w56dCTGE" />

</head>
<body>

<%= yield %>

</body>
</html>
